* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  --color-blue : #003566;
  --color-chartreuse : #7fff00;
  --color-white : #FFFFFF;
  --color-black : #000000;
  --color-grey : #efefef;
  --color-dark-grey : #747474;
  
  --fs-heading : 12px;
  --fs-subheading : 12px;
  --fs-text : 12px;
  --fs-small-subheading : 12px;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
}

.btn {
  height: 2rem; 
  width: 100%;
  min-width: 10rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

.btn:hover {
  box-shadow: none;
  outline: none;
}

.header-container {
  width: 100vw;
  height: 3rem;
  background: var(--color-blue);
  color: var(--color-white);
}

.content-container {
  width: min(720px, 100vw);
  min-height: calc(100vh - 3rem - 2rem);
  margin: auto;
}

.footer-container {
  width: 100vw;
  height: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
  padding-top: 0.2rem;
  color: var(--color-white);
  background: var(--color-blue);
  font-size: 0.8em;
}

.search-container {
  width: 100%;
  height: 3rem;
  padding: 10px;
}

.window-container {
  width: 100%;
  min-height: calc(100vh - 3rem - 3rem - 2rem);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.companies-container {
  min-width: 60%;
  flex-grow: 1;
  padding: 10px;
}

.job-profile-container {
  width: 90%;
  flex-grow: 1;
  padding: 10px;
}

.sidepanel-container {
  flex-grow: 1;
  padding: 10px;
}

@media (min-width: 600px) {
  .window-container {
    flex-direction: row;
  }
  .job-profile-container {
    flex-direction: row;
  }
}

@media (max-width : 600px) {
  .companies-container {
    width: 100%;
  }
  .job-profile-container {
    width: 100%;
  }
  .sidepanel-container {
    width: 100%;
  }
}

.jobs-container {
  width: 100%;
  padding: 10px;
}

.jobs-container-header {
  font-size: 1.3rem;
  font-weight: 600;
}

.newsletter-container {
  width: 100%;
  height: 30%;
  padding: 10px;
}

.newsletter-header {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width : 600px) {
  .jobs-container {
  }
  .newsletter-container {
    min-height: 10rem;
  }
}

/* NEWSLETTER */

.newsletter-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding : 10px;
}

.newsletter-input{
  min-width: 10rem;
  width: 100%;
  height: 2rem;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 10px;
  background: var(--color-grey);
  outline: none;
  border: none;
  color: var(--color-dark-grey);
  border-radius: 3px;
}

.newsletter-btn {
  background: var(--color-chartreuse);
  color: var(--color-blue);
  font-weight: 600;
}

/* JOB INSTANCE */

.job-instance-container {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.job-instance {
  height: 3.5rem;
  margin: 10px 0;
  background: var(--color-grey);
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  margin-right: 5px;
}

.job-instance-logo {
  height: 100%;
  padding-right: 1rem;
}

.job-instance-logo img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.job-instance-company {
  font-weight: 400;
}

.job-instance-role {
  color: var(--color-dark-grey);
  font-size: 0.8rem;
}

.view-all-job-btn{
  background: var(--color-white);
  border: 1px solid var(--color-grey);
  box-shadow: none;
  color: var(--color-blue);
  margin-top: 10px;
  font-weight: 600;
}

/* COMPANY INSTANCE */

.company-instance-container {
  height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.company-instance {
  margin: 10px 0;
  height: 5rem;
  background: var(--color-grey);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
  margin-right: 10px;
}

.company-instance-logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.company-instance-logo-img {
  height: 80%;
  margin: 10px auto;
  border-radius: 50%;
}

.company-instance-desc {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.company-instance-name {
  font-size: 1.3rem;
  font-weight: 400;
}

.company-instance-bio {
  font-size: 1rem;
  color: var(--color-dark-grey);
}

.company-upvote-count {
  width: 20%;
  background: var(--color-chartreuse);
}

/* SEARCH COMPONENT */

.search-component { 
  position: relative; 
}

.search-bar {
  width: 100%;
  height: 2rem;
  padding: 0 10px;
  background: var(--color-grey);
  outline: none;
  border: none;
  color: var(--color-dark-grey);
  border-radius: 3px;
}

.search-icon {
  position: relative;
}


/* HEADER CONTAINER */

.logo-header-container {
  display: flex;
  justify-content: space-around;
}

/* LOGO */

.logo-container {
  display: flex;
  flex: row;
  padding: 0.5rem;
}

.logo-c {
  background: var(--color-chartreuse);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo-text {
  margin: 0.4rem 0.5rem;
  text-transform: uppercase;
}

/* UPVOTE  */

.upvote-btn {
  height: 100%;
  width: 100%;
  background: var(--color-white);
  border: 1px solid var(--color-dark-grey);
  color: var(--color-blue);
  border-radius: 3px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-grey); 
  margin: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--color-dark-grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey);
}

/* JOB PROFILE */
.job-profile-component {
  background: var(--color-grey);
  height: 100%;
  width: 100%;
  border-radius: 3px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-profile-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 3rem - 3rem - 2rem - 8rem);
}

.job-profile-information > div {
  margin: 0.5rem;
}

.job-profile-logo {
  height: 5rem;
  /* width: 7rem; */
  /* background: none; */
}

.job-profile-logo img {
  height: 5rem;
}

.job-data {
  height: 5rem;
  color: var(--color-dark-grey);
}

.job-data > div > i {
  margin-right: 0.6rem;
}

.job-profile-desc {
  min-height: 5rem;
}

.job-profile-desc > .job-profile-desc-content {
  font-size: 1.2rem;
  font-weight: 600;
}

.job-profile-desc > .job-profile-desc-info {
  font-size: 1rem;
  color: var(--color-dark-grey);
}

.application-btn{
  display: flex;
  bottom: 0;
}

.application-btn > button {
  margin: 0.5rem;
}

.company-website {
  background: var(--color-white);
  border: 1px solid var(--color-dark-grey);
  box-shadow: none;
  color: var(--color-blue);
  margin-top: 10px;
  font-weight: 600;
  min-width: 4rem;
}

.job-profile-apply {
  background: var(--color-chartreuse);
  color: var(--color-blue);
  font-weight: 600;
  min-width: 4rem;
}