* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #050505;
}

.App {
  width: 100vw;
  margin: 0;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(124, 123, 123, 0.205); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}

.article > * {
  padding-top: 10px;
}

.article > ol {
  padding-left: 20px;
}

.article > p {
  margin: auto;
}

.article > p > a {
  font-weight: 700;
  text-decoration: none;
  color: #3567d3;
}

.article > p > img {
  max-width: 650px;
  border-radius: 5px;
  display: block;
  margin: 1rem auto;
}
