* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'extra-light';
    src: url('./assests/Karla-ExtraLight.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'light';
    src: url('./assests/Karla-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'regular';
    src: url('./assests/Karla-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'bold';
    src: url('./assests/Karla-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'extra-bold';
    src: url('./assests/Karla-Bold.ttf');
    font-weight: 600;
}

.xs {
    font-size: 10px;
}

.sm {
    font-size: 17px;
}

.md {
    font-size: 22px;
}

.lg {
    font-size: 28px;
}

.xl {
    font-size: 34px;
}

.extra-light {
    font-family: 'extra-light';
    font-weight: 100;
}

.light {
    font-family: 'light';
    font-weight: 200;
}   

.regular {
    font-family: 'regular';
    font-weight: 400;
}

.bold {
    font-family: 'bold';
    font-weight: 500;
}

.extra-bold {
    font-family: 'extra-bold';
    font-weight: 600;
}


.blue {
    color: #134DB6;
}

.black {
    color: #1F1F1F;
}

.grey {
    color : #4A4A4A;
}

.btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    /* width: 10rem; */
}

.twitter {
    /* background-image: url('./assests/twitter-thumb.png');
    background-size: cover;
    height: 2rem;
    width: 2rem; */
}

.blogs {
    /* background-image: url('./assests/star.svg');
    background-size: cover;
    height: 2rem;
    width: 2rem; */
}

.goals {
    /* background-image: url('./assests/planet.svg');
    background-size: cover;
    height: 2rem;
    width: 2rem; */
}

.app {
    min-height: 100vh;
    border: 1px solid white;
}

.navigation, .content {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    max-width: 800px;
    height: 3rem;
}

.content {
    flex-direction: column;
    /* border: 1px solid red; */
}

.home-body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.home-header {
    padding: 10px;
    text-transform: lowercase;
}

.home-footer {
    padding: 30px 10px;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-name {
    text-align: right;
}

@media (max-width: 550px) {
    .home-body {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .company-name {
        text-align: left;
        padding: 10px 0;
    }
}

.para {
    margin: 15px 0;
    line-height: 22px;
}

.container {
}

/* header */


/* goals */

.goal {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.goal-checkbox {
    width: 15%;
}

.goal-text {
    width: 80%;
    text-align: left;
}

.completed {
    text-decoration: line-through;
}